@mixin floating-widget {
    @if $shadows {
        box-shadow: 0 0 5px 0 $shadow;
    }

    margin: max($spacing, 8px);
    background-color: $background;
    color: $foreground;
    border-radius: $popover-radius;
    padding: $popover-padding;
}
