@import './unset';

@mixin slider($width: 0.7em, $slider-width: .5em, $slider: true, $focusable: true, $radius: $radius) {
    @include unset($rec: true);

    trough {
        transition: $transition;    
        border-radius: $radius;
        background-color: $background;
        min-height: $width;
        min-width: $width;

        highlight,
        progress {
            border-radius: max($radius - $border-width, 0);
            background-color: $primary;
            min-height: $width;
            min-width: $width;
        }
    }

    slider {
        box-shadow: none;
        background-color: transparent;
        border: $border-width solid transparent;
        transition: $transition;
        border-radius: $radius;
        min-height: $width;
        min-width: $width;
        margin: -$slider-width;
    }

    &:hover {
        trough {
            background-color: $background;
        }

        slider {
            @if $slider {
                background-color: $foreground;

                @if $shadows {
                    box-shadow: 0 0 3px 0 $shadow;
                }
            }
        }
    }

    &:disabled {

        highlight,
        progress {
            background-color: transparentize($foreground, 0.4);
            background-image: none;
        }
    }

    @if $focusable {
        trough:focus {
            background-color: $background;

            slider {
                @if $slider {
                    background-color: $foreground;
                }
            }
        }

    }
}
