##==============================================================================
## COLORS
##==============================================================================

font_color_user="black"
background_user="red"

font_color_host="red"
background_host="black"

font_color_pwd="black"
background_pwd="red"

font_color_git="white"
background_git="black"

font_color_input="red"
background_input="none"

